<div class="row">
  <div class="col-md-8">
    <img src="http://s24.postimg.org/u2976j7ol/transparent_wonder_ways_logo.png" id="logo"/>
  </div>
  <div class="col-md-4">
    <ul class="top-buttons">
      <li><a href="#search" class="search-btn"><img src="assets/images/blue-search.png"></a></li>
    </ul>
  </div>
</div>
<div id="search">
    <button type="button" class="close">×</button>
    <form>
      {{input value=searchTerm placeholder="Search Trails" autocomplete="off"}}
    </form>
</div>
<div class="row well">
  <h1>See Trails in Your State</h1>
  <div class="state-links">
    {{#each allStates as |state| }}
    {{#link-to 'trails' state}}{{state}}{{/link-to}}
    {{/each}}
  </div>
</div>

<h2>Trails</h2>

<ul>
  {{#each filteredTrails as |trail|}}
  <li>{{#link-to 'trail' trail}}{{trail.name}}{{/link-to}}</li>
  <li>{{trail.city}}, {{trail.state}}</li>
  {{/each}}
</ul>
