<h3>{{name}}</h3>
<p class="trail-info">{{city}}, {{state}}</p>

<ul class="activity">
  {{#each activities as |activity|}}
  <li><a href="{{activity.url}}">{{activity.activity_type_name}}</a></li>
  {{/each}}
</ul>

<ul class="species">
  {{#each species as |species|}}
  <li><a href="{{species.clip_url}}">Bird Sounds</a>{{species.kingdom}}{{species.scientific_name}}</li>
 {{/each}}
</ul>
